<a href="https://colab.research.google.com/github/Roberta-Ukaga/Google_Colab_Dump/blob/main/Importing_And_Reading_XLSX_Files_With_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing and reading xlsx files on python
import pandas as pd
df = pd.read_excel("GoodBelly-DataSet.xlsx")
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0

In [ ]:
#Find how many records this data frame has;
num_records = len(df)
print("Number of records:", num_records)

Number of records: 1386

In [ ]:
#How many elements are there?
num_elements = df.size
print("Number of elements:", num_elements)

Number of elements: 16632

In [ ]:
#What are the column names?
column_names = df.columns.tolist()
print("Column names:", column_names)

Column names: ['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price', 'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural', 'Fitness']

In [ ]:
#What types of columns do we have in this data frame?
column_types = df.dtypes
print("Column types:")
print(column_types)

Column types:
Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                        int64
Endcap                           int64
Demo                             int64
Demo1-3                          int64
Demo4-5                          int64
Natural                          int64
Fitness                          int64
dtype: object

In [ ]:
#Give the summary for the numeric columns in the dataset
numeric_summary = df.describe()
print("Summary for numeric columns:")
print(numeric_summary)

Summary for numeric columns:
        Units Sold  Average Retail Price    Sales Rep       Endcap  \
count  1386.000000           1386.000000  1386.000000  1386.000000
mean    253.820718              4.107093     0.549784     0.038240
std     110.998731              0.463828     0.497695     0.191843
min      47.559852              2.889286     0.000000     0.000000
25%     189.995471              3.775714     0.000000     0.000000
50%     236.735266              4.096667     1.000000     0.000000
75%     295.804391              4.425067     1.000000     0.000000
max    1041.200256              6.251538     1.000000     1.000000

              Demo      Demo1-3      Demo4-5      Natural      Fitness
count  1386.000000  1386.000000  1386.000000  1386.000000  1386.000000
mean      0.058442     0.156566     0.075758     1.448773     2.476190
std       0.234661     0.363522     0.264705     0.975092     1.592789
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     1.000000     1.000000
50%       0.000000     0.000000     0.000000     1.000000     2.000000
75%       0.000000     0.000000     0.000000     2.000000     4.000000
max       1.000000     1.000000     1.000000     4.000000     5.000000

In [ ]:
#Calculate standard deviation for all numeric columns;
std_deviation = df.std()
print("Standard deviation for numeric columns:")
print(std_deviation)

Standard deviation for numeric columns:
Date                    22 days 03:27:15.853934319
Units Sold                              110.998731
Average Retail Price                      0.463828
Sales Rep                                 0.497695
Endcap                                    0.191843
Demo                                      0.234661
Demo1-3                                   0.363522
Demo4-5                                   0.264705
Natural                                   0.975092
Fitness                                   1.592789
dtype: object

<ipython-input-16-9f8b9286db79>:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  std_deviation = df.std()

In [ ]:
#What are the mean values of the first 50 records in the dataset?
#Hint:use head() method to subset the first 50 records and then calculate the mean
mean_first_50_records = df.head(50).mean()
print("Mean values of the first 50 records:")
print(mean_first_50_records)

Mean values of the first 50 records:
Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64

<ipython-input-17-fc1334b5fe8b>:3: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  mean_first_50_records = df.head(50).mean()
<ipython-input-17-fc1334b5fe8b>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_first_50_records = df.head(50).mean()