<a href="https://colab.research.google.com/github/Roberta-Ukaga/Google_Colab_Dump/blob/main/Python_Tuples_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tuples Exercises

In [ ]:
#Q1 Create myTuple tuple with the follwoing values
#("NPower","JDA","Tuesday",30,3,2021)
mytuple = ("NPower","JDA","Tuesday",30,3,2021)

In [ ]:
#Q2 What is the type of myTuple
type(mytuple)

tuple

In [ ]:
#Q3 What is the length of myTuple
len(mytuple)

6

In [ ]:
#Q4 print the values in each index #Use regular indexing
for i in range(len(mytuple)):
  print(mytuple[i])

NPower
JDA
Tuesday
30
3
2021

In [ ]:
#Q5 print the values in each index #Use negative indexing
for i in range(len(mytuple)):
  print(mytuple[-i -1])

2021
3
30
Tuesday
JDA
NPower

In [ ]:
#Q6 what is the type of each value
for item in mytuple:
  print(type(item))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#Q7 unpack myTuple in the follwoeing variables
#name,program,dayName,month,day,year accordingly
# print the variables
name = mytuple[0]
program = mytuple[1]
dayName = mytuple[2]
month = mytuple[3]
day = mytuple[4]
year = mytuple[5]

In [ ]:
#Q8 unpack myTuple2 in the following variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
name = mytuple2[0]
program = mytuple2[1]
dayName = mytuple2[2]
month = mytuple2[3]
day = mytuple2[4]
year = mytuple2[5]

NameError: ignored

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: ignored

In [ ]:
#Q9 Reverse myTuple, output should looks like
#(2021,3,30,"Tuesday","JDA","NPower")
reversedtuple = mytuple[::-1]
reversedtuple

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [ ]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [ ]:
#Q12 print each element in the nestedTuple
for item in nestedTuple:
  print(item)

('Coursera', 'course', 6)
('week', (2, 'Lists', 'Tuple'))

In [ ]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [ ]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [ ]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [ ]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [ ]:
#Q17 Concatenate myTuple with nestedTuple
mytuple += nestedTuple
mytuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q18 add your name to the tuple
mytuple += ('Adanma',)
mytuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Adanma')

In [ ]:
#Q19 check whether Coursera exists within  myTuple

# NOTE "in" doesn't work properly with nested tuples
def check_tuple(nestedTuple):
  for item in nestedTuple:
    if type(item) == tuple:
      return check_tuple(item)
    elif item == 'Coursera':
      return True
  return False

check = check_tuple(mytuple)
check

True

In [ ]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
55 in testTuple

True

In [ ]:
#Q21 Find the index of JDA in myTuple

print(f"Found 'JDA' at {mytuple.index('JDA')}")
# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
for index, item in enumerate(mytuple):
    if isinstance(item, tuple) and "Coursera" in item:
        print(f"Found 'Coursera' at {index}")
        break

Found 'JDA' at 1
Found 'Coursera' at 6

In [ ]:
#Q22 print index 8 from myTuple
mytuple[8]

'Adanma'

In [ ]:
#Q23 Get the 4th element from the begining of myTuple
#and 4th element from last of a myTuple
print(mytuple[3])
print(mytuple[-4])

30
2021

In [ ]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2